.App {
  text-align: center;
}

/* CSS for Navigation Component */
.navigation {
  background-color: #333;
  color: #fff;
}

.navigation ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navigation li {
  margin: 0 20px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
}


/* For small screens (e.g., mobile devices) */
@media (max-width: 767px) {
  /* Adjust your styles here */
}

/* For medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjust your styles here */
}

/* For large screens (e.g., desktop) */
@media (min-width: 1024px) {
  /* Adjust your styles here */
}
